.board {
    width: 800px;
    height: 400px;

    display: grid;
    grid-gap: 0 0;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
}


#header-bar {
    width: 100vw;
    height: 200px;
    background-color: blanchedalmond;
}

.primary-square {
    background: #f0d9b5
}

.secondary-square {
    background: #b58863
}

.game-piece > text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}